<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>HAM</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>d2doc</string>
			<key>CFBundleTypeName</key>
			<string>Descent (D2X-XL) Game Data</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>HOG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>d2doc</string>
			<key>CFBundleTypeName</key>
			<string>Descent (D2X-XL) Archive File</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>MN2</string>
				<string>MSN</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>d2doc</string>
			<key>CFBundleTypeName</key>
			<string>Descent (D2X-XL) Mission File</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>PIG</string>
				<string>POG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>d2doc</string>
			<key>CFBundleTypeName</key>
			<string>Descent (D2X-XL) Texture Data</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>PLR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>d2doc</string>
			<key>CFBundleTypeName</key>
			<string>Descent (D2X-XL) Player File</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>DEM</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Descent (D2X-XL) Demo File</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>MVL</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>d2doc</string>
			<key>CFBundleTypeName</key>
			<string>Descent (D2X-XL) Movie Archive</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>SG0</string>
				<string>SG1</string>
				<string>SG2</string>
				<string>SG3</string>
				<string>SG4</string>
				<string>SG5</string>
				<string>SG6</string>
				<string>SG7</string>
				<string>SG8</string>
				<string>SG9</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>d2doc</string>
			<key>CFBundleTypeName</key>
			<string>Descent (D2X-XL) Save Game File</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>d2x-xl</string>
	<key>CFBundleIconFile</key>
	<string>d2</string>
	<key>CFBundleIdentifier</key>
	<string>de.descent2.d2x-xl</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.11.17</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
